<% provide(:title, "Sobre nosotros") %>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sobre nosotros
                    <small>¡Encantados de conocerte!</small>
                </h1>
                <p>Somos un cinco jóvenes estudiantes de la Universidad Complutense de Madrid que trabajamos para facilitarte el apredizaje en cuestiones de seguridad informática. <strong>¿Quieres aprender a protegerte en la red?</strong> Nosotros te enseñamos las reglas básicas del juego. Después, todo depende de ti.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Equipo Cloud Ender</h2>
            </div>
            <div class="row">
            <div class="col-md-4 text-center">
                <%= image_tag "fotoTodor.jpg", size: "140x140", class: "img-circle" %>
      <div class="caption">
        <h3>Todor Nikolaev</h3>
        <p><small>Portal Web, BBDD y Escenarios</small></p>
                <p class= "text-center">
        <a class="btn btn-linkedin" href="https://www.linkedin.com/pub/todor-velikov-usenliev/9b/97/656"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-github" href = "mailto: todornv@gmail.com"><i class="fa fa-envelope-o"></i></a></p>
            </div>
            </div>
            <div class="col-md-4 text-center">
                <%= image_tag "fotoJavi2.jpg", size: "140x140", class: "img-circle"%>
      <div class="caption">
        <h3>Javier Serrano</h3>
        <p><small>Arquitectura, Red y Escenarios</small></p>
        <p class= "text-center">
       <a class="btn btn-github" href = "mailto: jserrano1990@gmail.com"><i class="fa fa-envelope-o"></i></a></p>
            </div>
            </div>
            <div class="col-md-4 text-center">
                 <%= image_tag "fotoIratxe.jpg", size: "140x140", class: "img-circle"%>
      <div class="caption">
                <h3>Iratxe González Garrido</h3>
                    <p><small>Portal Web, BBDD y Escenarios</small></p>
                <p class="text-center">
        <a class="btn btn-linkedin" href="https://es.linkedin.com/in/iratxeggarrido"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-github" href="mailto: iratxe.ggarrido@gmail.com"><i class="fa fa-envelope-o"></i></a></p>
            </div>
            </div>
            <div class="col-md-4 text-center">
                 <%= image_tag "fotoSergio.jpg", size: "140x140", class: "img-circle"%>
      <div class="caption">
                <h3>Sergio Carvajal
                </h3>
                <p><small>Arquitectura, Red y Escenarios</small></p>
                <p class="text-center">
         <a class="btn btn-github" href="mailto: sergioca2081@gmail.com"><i class="fa fa-envelope-o"></i></a></p>
            </div>
            </div>
            <div class="col-md-4 text-center">
                 <%= image_tag "fotoDani.png", size: "140x140", class: "img-circle"%>
      <div class="caption">
                <h3>Daniel García</h3>
                <p><small>Portal Web, BBDD y Escenarios</small></p>
                <p class="text-center">
        <a class="btn btn-linkedin" href="https://www.linkedin.com/pub/daniel-garcia-gomez/69/b08/582"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-github" href="mailto: d.gargomez@gmail.com"><i class="fa fa-envelope-o"></i></a></p>
            </div>
            </div>
        </div>
</div>
        <hr>


    </div>
    <!-- /.container --> 
    </div>
    </div>