<% provide(:title, "Sobre nosotros") %>
<h1>Sobre nosotros</h1>
<h3 align="middle">¿Quieres aprender a protegerte en la red?</h3>

<h3 align="middle">Nosotros te enseñamos las reglas básicas del juego. Después, todo depende de ti.</h3>
<br>
<p align="center" href="#">
<%= image_tag "seguridad.jpeg", class: "media-object"%>
</p>
<br>
<br>

<h1 align="middle">Equipo ENDER</h1>
<hr class="featurette-divider">
<p>Somos un cinco jóvenes estudiantes de la Universidad Complutense de Madrid que trabajamos para facilitarte el apredizaje en cuestiones de seguridad informática.</p>


<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row" >
  <div class="col-md-4 text-center">
      <%= image_tag "fotoTodor.jpg", size: "140x140", class: "img-circle" %>
      <div class="caption">
        <h3>Todor Nikolaev</h3>
        <p class= "text-center">
        <a class="btn btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-github" href = "#"><i class="fa fa-envelope-o"></i></a></p>
      </div>

  </div>
  <div class="col-md-4 text-center">
      <%= image_tag "fotoJavi2.jpg", size: "140x140", class: "img-circle"%>
      <div class="caption">
        <h3>Javier Serrano</h3>
        <p class= "text-center">
        <a class="btn btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-github" mailto = "#"><i class="fa fa-envelope-o"></i></a></p>
      </div>
  </div>
  <div class="col-md-4 text-center">
      <%= image_tag "fotoIratxe.jpg", size: "140x140", class: "img-circle"%>
      <div class="caption">
        <h3 class= "text-center">Iratxe González</h3>
        <p class= "text-center">
        <a class="btn btn-linkedin" href="https://es.linkedin.com/in/iratxeggarrido"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-github" href = "mailto: iratxe.ggarrido@gmail.com"><i class="fa fa-envelope-o"></i></a></p>
      </div>
  </div>

  <div class="col-md-6 text-center">
      <%= image_tag "fotoSergio.jpg", size: "140x140",class: "img-circle"%>
      <div class="caption">
        <h3>Sergio Carvajal</h3>
        <p class= "text-center">
        <a class="btn btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-github" href = "#"><i class="fa fa-envelope-o"></i></a></p>
      </div>
  </div>
  <div class="col-md-6 text-center">
      <%= image_tag "fotoDani.png", size: "140x140", class: "img-circle"%>
      <div class="caption">
        <h3>Daniel García</h3>
        <p class= "text-center">
        <a class="btn btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-github" href = "#"><i class="fa fa-envelope-o"></i></a></p>
      </div>
  </div>

</div>
</div>


<a class="btn btn-social btn-lg btn-github" href = "https://github.com/akela92/ender"><i class="fa fa-github"></i> | Conectar con Github</a>

<!--btn btn-block btn-social btn-lg btn-bitbucket-->
<br>
<br>
<br>
<p>De un modo didáctico y a través de un juego, serás capaz de aprender los pilares básicos que sostienen la seguridad en el mundo tecnológico.</p>
<p>Ender te traslada a un mundo virtual donde las amenazas son más reales de lo que puedas imaginar.</p>
<p>Atacar, defender, todo vale. Conseguir el objetivo es tu misión.</p>
<br>
<h3 align="middle">¡Alístate cuanto antes, te esperamos!</h3>
<br>
<br>
<div align="center">
 <%= link_to "Regístrate en Ender", signup_path, class: "btn btn-lg btn-primary" %>

</div>