<% if logged_in? %>
<% provide(:title, 'Usuario') %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>


<% provide(:title, "Home") %>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
 <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "seguridad1.jpg", class: "media-object"%>
          <div class="container">
            <div class="carousel-caption">
              
              <%= link_to "Regístrate en Ender", signup_path, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "seguridad2.jpg", class: "media-object"%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Cloud Computing</h1>
              <p class="lead">La nube es la nueva forma optimizada de prestación de servicios para el tratamiento de la información.</p>
              
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "seguridad3.jpg", class: "media-object"%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Ciberseguridad</h1>
              <p class="lead">La seguridad IT es una de las grandes preocupaciones de la sociedad del siglo 21, tanto a nivel corporativo como a nivel particular.</p>
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div><!-- /.carousel -->
<% end %>