<%= form_for(@maquina) do |f| %>
  <% if @maquina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maquina.errors.count, "error") %> prohibited this maquina from being saved:</h2>

      <ul>
      <% @maquina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :id_escenario %><br>
    <%= f.number_field :id_escenario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
