<% provide(:title, 'Escenarios') %>
<h1>Escenarios</h1>

<ul class="media-list">
<% @escenario_ideals.each do |escenario_ideal| %>

  <li class="media">
    <div class="media-left">
      <a href="#">
      <%= image_tag "fotoIratxe.jpg", class: "img-media" %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= escenario_ideal.nombre %></h4>
      <%= escenario_ideal.descripcion %>
      Dificultad: <%= escenario_ideal.dificultad %>
    </div>
  </li>

</ul>


<div class="btn-group" role="group" aria-label="...">
<%= link_to "Lanzar", escenario_ideal_path(escenario_ideal), class: "btn btn-success", :type => "button"%>
<%= link_to "Mostrar", escenario_ideal_path(escenario_ideal), class: "btn btn-default", :type => "button"%>  
    
             <%= link_to 'Editar', edit_escenario_ideal_path(escenario_ideal), :class => "btn btn-default", :role => "button"%>
             <%= link_to 'Eliminar', escenario_ideal, method: :delete, data: { confirm: '¿Estás seguro/a?' }, :class => "btn btn-danger", :role => "button"%>
             <a href="#" class="btn btn-default" role="button">Comprobar resultado</a>

</div>
<% end %>
<div><p>

<div class="well center-block" style="max-width: 400px;">
      <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
      <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
    </div>
<%= link_to 'Nuevo Escenario', new_escenario_ideal_path, :class => "btn btn-primary btn-lg", :type => "button"%>