<p id="notice"><%= notice %></p>

<h1>Listing Escenarios</h1>

<table>
  <thead>
    <tr>
      <th>Id escenario ideal</th>
      <th>Id user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @escenarios.each do |escenario| %>
      <tr>
        <td><%= escenario.id_escenario_ideal %></td>
        <td><%= escenario.id_user %></td>
        <td><%= link_to 'Show', escenario %></td>
        <td><%= link_to 'Edit', edit_escenario_path(escenario) %></td>
        <td><%= link_to 'Destroy', escenario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Escenario', new_escenario_path %>
